<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.AssetDao">
    <!--2. 基于xml的方式-->
    <select id="findBySearch" resultType="com.example.entity.Asset">
        select * from assets
        <where>
            <if test="params != null and params.userId != null and params.userId != ''">
                and userId = #{params.userId}
            </if>
            <if test="params != null and params.assetType != null and params.assetType != ''">
                and assetType = #{params.assetType}
            </if>
            <if test="params != null and params.assetName != null and params.assetName != ''">
                and assetName like concat('%', #{params.assetName}, '%')
            </if>
            <if test="params != null and params.assetId != null and params.assetId != ''">
                and assetId like concat('%', #{params.assetId}, '%')
            </if>
        </where>
    </select>

<!--    &lt;!&ndash; AssetMapper.xml &ndash;&gt;-->

<!--    <update id="updateAssetNameById" parameterType="map">-->
<!--        UPDATE assets-->
<!--        SET assetName = #{assetNewName}-->
<!--        WHERE assetId = #{assetId}-->
<!--    </update>-->

</mapper>